@page
@model MobileShop.Management.Hosted.Pages.AddAccountModel
@{
}
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <p style="color:Tomato;">@Model.message</p>
            <h4>Add account</h4>
            <form method="post">
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <div class="row">
                            <div class="col-lg-9">
                                <div class="checkout__input">
                                    <p>Full Name<span>*</span></p>
                                    <input type="text" name="fullname">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="checkout__input">
                                    <p>Role<span>*</span></p>
                                    <select name="role" value="" class="label">
                                        <option id="user" value="2">Staff</option>
                                        <option id="user" value="3">User</option>
                                    </select>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Address<span>*</span></p>
                                    <input name="address" type="text" placeholder="Street Address" class="checkout__input__add">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="checkout__input">
                                    <p>Gender<span>*</span></p>
                                    <select name="gender" value="" class="label">
                                        <option id="user" value="1">Male</option>
                                        <option id="user" value="0">Female</option>
                                    </select>

                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="checkout__input">
                                    <p>Date Of Birth<span>*</span></p>
                                    <input name="dob" type="date" class="checkout__input__add">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Phone<span>*</span></p>
                                    <input type="text" name="phone">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Email<span>*</span></p>
                                    <input type="text" name="email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Password<span>*</span></p>
                                    <input type="password" name="password">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkout__input">
                                    <p>Re-password<span>*</span></p>
                                    <input type="password" name="repassword">
                                </div>
                            </div>
                        </div>
                        <div class="checkout__order">
                            <button type="submit" class="site-btn" name="submit">ADD ACCOUNT</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>