@{
    var json = HttpContextAccessor.HttpContext?.Session.GetString("_login") ?? string.Empty;

    Account? account = null;
    if (!string.IsNullOrEmpty(json))
    {
        account = JsonConvert.DeserializeObject<Account>(json);
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FStore</title>

    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/elegant-icons.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/nice-select.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/slicknav.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body>
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i>sstore1403@gmail.com</li>
                                @if (account != null)
                                {
                                    <li>Welcome back @account.FullName</li>
                                }

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>

                            @if (account == null)
                            {
                                <div class="header__top__right__auth">
                                    <a asp-page="/Login"><i class="fa fa-user"></i>Login</a>
                                </div>
                            }
                            else
                            {
                                <div class="header__top__right__language">

                                    <div>
                                        <i class="fa fa-user"></i>
                                        <div>@account.FullName</div>
                                    </div>

                                    <span class="arrow_carrot-down"></span>
                                    <ul>

                                        <li><a asp-page="Logout">Logout</a></li>

                                        <li><a asp-page="/Profile">Account</a></li>
                                    </ul>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                </div>
                <div class="col-lg-10">
                    <nav class="header__menu">
                        <ul>
                            @if (account != null)
                            {
                                <li><a asp-page="/Index">Accounts</a></li>
                                <li><a asp-page="/ProductManager">Products</a></li>
                                <li><a asp-page="/CategoriesManager">Categories</a></li>
                                <li><a asp-page="/OrderManager">Orders</a></li>
                                <li><a asp-page="/DiscountManager">Coupons</a></li>
                                <li><a href="https://sandbox.vnpayment.vn/merchantv2/Users/Login.htm">VNPay transactions</a></li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
